doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title presentation

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article.deck


      section

        img(src="images/logo.png" width="400" height="auto")


      section
        h2 Réalisé par :
        br
        ul.build.build-items
          li Zakaria ZEKRAOUI
          li Coralie COTTE
          li Maxime GARNIER
          li Kévin VAN DER STRACTEN

      section
        h2 Présentation de l’entreprise
        br
        h5 Jeune startup de 2018 fondée conjointement par 2 entrepreneurs spécialisés dans les domaines de la consommation énergétique maîtrisée grâce à un produit innovant.

      section
        h2 Objectif de l'entreprise
        h5 Décret n° 2016-710 du 30 mai 2016 relatif à la détermination individuelle de la quantité de chaleur consommée et à la répartition des frais de chauffage dans les immeubles collectifs
        br
        h5 Afin que les usagers prennent connaissance de leurs consommations énergétique, la loi introduit l’obligation d’installer, dans les immeubles collectifs équipés d’un chauffage collectif, des appareils de mesure permettant de déterminer la quantité de chaleur fournie à chaque local occupé à titre privatif, avant le 31 décembre 2019.



      section
        h2 Nos objectifs
        ul.build.build-items
          li Créer le site vitrine de l’entreprise
          li Créer un espace client pour les :
            li copropriétés
            li associations de copropriétés
            li syndicats
            li propriétaires
            li locataires
            li techniciens
            li administrateurs
          li Mettre en place le calcul des puissances nominale des radiateurs
          li Générer des PDF

      section(data-bespoke-hash='named-route')
        h2 visitez le site
        h3 <a href="http://localhost:8000">cliquez ici </a>


    script(src='build/build.js')
